.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  min-width: 300px;
  padding: 15px;
  background-color: #6c6479;
  border: 2px solid #342846;
  border-radius: 10px;
  color: snow;
}

button {
  margin: 5px;
  border: 2px solid #342846;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #342846;
  color: snow;
  text-transform: uppercase;
}

button:disabled {
  background-color: #342846;
  opacity: 0.4;
}

button:active {
  border: 2px solid snow;
}

.button-active {
  border: 2px solid snow;
}

.remove-button {
  display: inline-block;
  padding: 1px 5px;
  text-transform: lowercase;
  line-height: 1.2;
}

.input {
  width: 85%;
  height: 20px;
  border-radius: 5px;
}

.error {
  outline: 2px solid yellow;;
}

.tasks {
  list-style: none;
  padding: 0;
}

.checkbox {
  accent-color: #342846;
}

.removeButton {
  margin-left: 10px;
  color: snow;
  background-color: #342846;
  border: none;
}

.titleDone {
  text-decoration: line-through;
}

